[Desktop Entry]
Type=Application
Name=Mathworks Service Host
Exec=/home/peter/.MathWorks/ServiceHost/Cactus-PC/v2024.5.0.3/bin/glnxa64/MathWorksServiceHost service --realm-id companion@prod@production
Terminal=false
